/* tips section */

.tipsSection {
  background: linear-gradient(
    127deg,
    rgba(214, 252, 254, 0) 0%,
    rgba(214, 230, 254, 1) 100%
  );
  padding: clamp(3.5rem, 3.26141rem + 1.018vw, 3.75rem)
    clamp(1.5rem, 0.54586rem + 4.071vw, 2.5rem);
}

.tipsCard {
  margin-bottom: 2.5rem;
}

.tipsCard:last-child {
  margin-bottom: 0;
}

.heading {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .tipsSection {
    margin-inline: clamp(0rem, -1.71408rem + 3.571vw, 1.5rem);
    padding: clamp(3.75rem, 2.03592rem + 3.571vw, 5.25rem)
      clamp(2.5rem, -3.272rem + 12.025vw, 7.25rem);
    border-radius: clamp(0rem, -2.57136rem + 5.357vw, 2.25rem);
  }

  .tipsCard {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }

  .heading {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .tipsSection {
    display: flex;
    gap: 2rem;
  }

  .tipsCard {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
    margin-bottom: 0;
  }
}
