html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: #253347;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 110%;
  font-weight: 600;
  letter-spacing: -0.05em;
}

p {
  line-height: 150%;
}

h1 {
  font-size: clamp(3rem, 1.85712rem + 2.381vw, 4rem);
}

h2 {
  font-size: clamp(2rem, 0.85712rem + 2.381vw, 3rem);
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}
