.container {
  background-color: #ffffff;
  margin-top: clamp(2.5rem, 3.47719rem + -2.036vw, 3rem);
  padding: clamp(1.5rem, 1.02281rem + 2.036vw, 2rem);
  border-radius: 16px;
  box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
}

.container h3 {
  margin-bottom: clamp(1.5rem, 1.02281rem + 2.036vw, 2rem);
}

.radioButtonContainer {
  display: flex;
  align-items: center;
  margin-bottom: clamp(1.5rem, 1.02281rem + 2.036vw, 2rem);
  gap: 1.5rem;
}

.inputLabel {
  display: flex;
  flex: 1;
  align-items: center;
}

.labelRadioButton {
  color: #253347;
  font-size: 1rem;
  font-weight: 600;
}

.radioButton {
  border-color: #5e6e85;
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1.125rem;
}

.radioButton:active {
  border-color: #345ff6;
}

.resultsContainer {
  background-color: #345ff6;
  color: #ffffff;
  margin-top: clamp(1.5rem, 1.02281rem + 2.036vw, 2rem);
  padding: 1.5rem;
  border-radius: 16px clamp(1rem, -13.24919rem + 53.644vw, 12.5rem)
    clamp(1rem, -13.24919rem + 53.644vw, 12.5rem) 16px;
}

.resultsContainer p {
  font-size: 1rem;
}

.headingResultsContainer h1 {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 0.52281rem + 2.036vw, 1.5rem);
}

.inputLabelContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  color: #5e6e85;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
}

.imperialInputsContainer {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  gap: 1rem;
}

.imperialInputsContainer input {
  width: 100%;
}

.input {
  padding: 1.25rem 1.5rem;
  border: 1px solid #5e6e85;
  border-radius: 0.75rem;
  outline: none;
}

.input:focus {
  border-color: #345ff6;
}

@media only screen and (min-width: 768px) {
  .inputsContainer {
    flex-direction: row;
  }

  .resultsContainer {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .headingResultsContainer {
    min-width: 50%;
  }

  .headingResultsContainer h1 {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    position: absolute;
    bottom: 5.375rem;
    left: 77%;
    min-width: 35.25rem;
  }
}
